{% extends "layout.html" %}
{% block content %}
	<h1>關於 About HANCOC</h1>
	<p></p>
	HANCOC終於在網站上上架了！跟之前的程式大不相同的是，這次不需要下載任何東西就能讓這個工具運作了。以下就是操作的步驟：
<ol>
	<p></p>
	<li>點進去HANCOC的首頁。</li>
	<li>把MuseScore的樂譜檔匯出成未壓縮的MusicXML，並把副檔名設為「.xml」。</li>
	<li>從你的電腦中選取要加上和弦記號的MusicXML檔案。</li>
	<li>按「下載樂譜」。</li>
	<li>瀏覽器會顯示加上了和弦記號的MusicXML檔案。</li>
	<li>點右鍵並選擇「儲存為...」。</li>
	<li>在儲存檔案的時候，記得把副檔名也設為「.xml」。</li>
	<li>大功告成！</li>
</ol>

	The HANCOC tool is finally up on the internet! Unlike the previous program, you won't have to download any software. Here's how it works:

<ol>
	<p></p>
	<li>Go to HANCOC's home page.</li>
	<li>Export your MuseScore file to uncompressed MusicXML format, and set the file's filename extension to ".xml".</li>
	<li>Find the MusicXML file you are uploading.</li>
	<li>Click "Download score".</li>
	<li>The browser will show the MusicXML file with chord notations added.</li>
	<li>Right-click and choose "save as...".</li>
	<li>When saving the file, make sure to set the file's filename extension to ".xml".</li>
	<li>Well done!</li>
</ol>
{% endblock content %}